@media (min-width:360px) and (max-width : 767px){
.carr{
  display: none !important;
}
#fia{
    font-size: 15px !important;
    margin-top: 1px !important;
}
.testmo{
    font-size: 42px !important;
}
.mpt{
    text-align: center !important;
}
#top{
    height: 40px !important;
}
.mpt{
    padding-top: 6px !important;
}
.nlogo{
    width: 170px;
    padding-top: 18px !important;
    padding-bottom: 15px !important
}

#topb{
    display: none !important;
}
#navbar{
    display: none !important;
}
.ico{
    float: none !important;
margin-left: -22px !important;
}
#caro{
    display: none;

}
.lis flis liss{
    font-size: 10px !important;
}
#mcaro{
    display: block !important;
}

.minne{
    height: 194px;
}
.caroha{
    font-size: 14px !important;
}
.carousel-control-prev-icon{
display: none !important;}
.carousel-control-next-icon{
    display: none !important;
}
#mnav{
    display: block !important;
}
#fontzam{
    font-size: 51px !important;
}
.fontzaa{
    font-size: 60px !important;
}
#chaimg{
    margin-top: 47px !important;
}
.padla{
    padding-left: 0px !important;
}
.whyc{
    margin-left: 0px !important;
}
.tiic{
    padding-left: 30px !important;
}
#top{
    display: block !important;
    margin: auto !important;
    margin-left: -8px !important;
}
#logoz{
    margin-left: 13px !important;
}
#cimg{
  
    display: none !important;
}
#testa{
    height: 170px !important;
}
#counter{
    height: 728px !important;
margin-top: -10px !important;
}
.mdd{
    display: block !important;
    margin: auto !important;
    width: 47px !important;
}
.mdda{
    display: block !important;
    margin: auto !important;
    width: 20px !important;
}
#ccz{
    display: block !important;
}
.tmd{
    width: 91px !important;
    display: block !important;
    margin: auto !important;
    margin-top: 10px !important;
}
#showbtn{
    display: block;
    margin: auto;
}
.caroh{
    font-size: 30px !important;
}
.counter{
    text-align: center;
}
.hc{
    text-align: center;
}
.nfontza{
    font-size: 39px !important;
}
#network{
    height: 680px !important;
}
#chaimg{
    margin-left: 0px !important;
    margin-top: -124px !important;
}
#chair{
    margin-top: 200px;
}
#counters{
    padding-bottom: 25px !important;
}
.pad{
    padding-left: 0px !important;
}
.fontz{
    -webkit-text-stroke-color:  #d01f27 !important;
    font-size: 40px !important;
    text-align: center !important;
}
.matext{
    text-align: center !important;
    padding-top: 20px !important;

}
.fontsz{
    padding:10px !important;
    text-align: center !important;
}
#btnr{
    display: block !important;
    margin: auto !important;
}
.fontza{
    font-size: 80px !important;
    text-align: center !important;
}
.whyc{
    margin-top: 0px !important;
text-align: center !important;
}
.whycc{
    text-align: center !important;
    margin-left: 0px !important;
    font-size: 22px !important;
}
.fontza{
    -webkit-text-stroke-color: black !important; 
}
.iz{
    width: 55px !important;
}
#sea{
    margin-top: 0px !important;
}
#seaza{
    display: grid !important;
    padding-top: 30px !important;
}
#seaz{
    display: grid !important;
    /* padding-top: 30px !important; */
}
.serd{
    width: 250px !important;
height: 220px !important    ;
display: block !important;
margin: auto !important;
}
.serda{
    width: 250px !important;
height: 220px !important    ;
display: block !important;
margin: auto !important;
}
.sert{
    margin-top: 74px !important;
}
#seraimg{
    width: 250px !important;
    height: 238px !important;
    display: block !important;
    margin: auto !important;
}
#serimg{
    width: 250px !important;
    height: 238px !important;
    display: block !important;
    margin: auto !important;
}
.fontaz{
    font-size: 52px !important;

}
.have{
    padding-left: 0px !important;
    text-align: center;
    font-size: 25px !important;
    padding-top: 37px !important;
}
.qy{
    display: block !important;
}
#mySlider{
    width: 300px !important;
}
.stro{
    text-align: center !important;
    padding-top: 0px !important;
    font-size: 43px !important;
    font-weight: 800;
}
.texta{
    padding-left: 0px !important;
    margin-top: 0px !important;
    text-align: center !important;
}
#ques{
    height: 261px !important;
}
#ftimg{
    width: 230px !important;
    display: block !important;
    margin: auto !important;
}
#ftext{
    text-align: center;
}
.con{
    padding-top: 0px !important;
}
.foot{
    height: 1084px !important;
}
.ndiv {
    margin-top: 23px !important;
}
.nbdiv{
    margin-top: 23px !important;
}
.nadiv{
    margin-top: 23px !important;
width: 248px !important;
}
#end{
    height: 50px !important;
}
#last{
    font-size: 10px;
    text-align: center;
}

.lastul{
    width: 257px !important;
}
.lastuli{
    width: 200px !important;
}
.uli{
    width: 190px !important;
}
}


/* IPAD PRO*/
@media only screen 
and (min-width: 768px) and (max-width: 1200px) 
 {
.lis{
    font-size: 10px !important;
}
.flis{
    font-size: 7px !important;
}
.imgd{
    width: 175px !important;
    padding-top: 10px !important;
}
.nav-lis{
    font-size: 14px !important;
}
#btnr{
    font-size: 13px !important;
    margin-top: 5px !important;
}
#icom{
    font-size: 36px !important;
}
.fontza{
    font-size: 47px !important;
}
.fontsz{
    font-size: 12px !important;
}
.have{
    font-size: 26px !important;
}
.texta{
    font-size: 14px !important;
}
.stro{
    font-size: 108px !important;
    font-weight: 0 !important;
}
#ftext{
    font-size: 12px !important;
}
.iconf{
    font-size: 12px !important;
}
#fi{
    font-size: 15px !important;
    margin-top: 5px !important;
}

 }
/* IPAD PRO */

/* IPAD */
@media only screen 
and (min-width: 768px) and (max-width: 1023px) 
 {
.lis{
    font-size: 13px !important;
}
.nav-lis{
    font-size: 8px !important;
}
.imgd{
    width: 156px !important;
    padding-top: 17px !important;
    padding-left: 19px;
}
#btnr{
    font-size: 9px !important;
    margin-top: 10px !important;
}
#icom{
    font-size: 28px !important;
}
#ccz{
    padding-top: 47px !important; 
}
.hc{
    font-size: 12px !important;
margin-left: 12px !important;
}
.counter{
    margin-left: 10px !important;
}
#chari{
    margin-top: -103px !important;
}
.fontza{
    font-size: 37px !important;
}
.fontsz{
    font-size: 10px !important;
}
.whycc{
    font-size: 20px !important;
}
.tiic{
    padding-left: 40px !important;
}
.tick{
    margin-top: -27px !important;
}
.serd{
    width: 411px !important;
    height: 229px !important;
}
.serda{
    width: 325px !important;
    height: 229px !important;
}
.sert{
    font-size: 20px !important;
}
#serimg{
    width: 329px !important;
    height: 287px !important;
    margin-top: -111px !important;
}
#sea{
    margin-top: -3px !important;
}
.have{
    font-size: 17px !important;
}
.stro{
    font-size: 103px !important;
    font-weight: 500 !important;
}
.have{
    font-size: 16px !important;
    padding-left: 85px !important;
}
.texta{
    font-size: 9px !important;
    padding-left: 85px !important;

}
#ques{
    height: 180px !important;
}
#ftext{
    font-size: 9px !important;
}
.iconf{
    font-size: 10px !important;
    line-height: 1.5 !important;
}
.uli{
    margin-top: -10px !important;
    margin-left: -5px !important;
}
.ft{
    font-size: 18px !important;
    margin-left: 29px !important;
}
.flis{
    font-size: 10px !important;
}

#mySlider{
width: 500px !important;
}
.nadiv{
    width: 214px !important;
}
.nbdiv{
    width: 204px !important;
}
.ndiv{
    width: 99px !important;
}
 }
/* IPAD */